body {
    background-color: orange;
    color: rgb(0, 85, 255);
}

.nav-links-list {
    display: flex;
    background-color: gainsboro;
    
}

.nav-links-list h4 {
    padding: 9px 80px;
}

.about-page-div {
    text-align: center;
}

#about-header-1 {
    margin-top: 10px;
}

.home-page-div {
    text-align: center;
}

.contact-page-div {
    text-align: center;
}

.menu-page-div {
    text-align: center;
}

.weather-page-div {
    text-align: center;
}

.reviews-page-div {
    text-align: center;
}

#appetizers-div {
    float: left;
    margin-left: 350px;
}

#appetizers-div-2 {
    margin-bottom: 30px;
}

#menu-divider {
    float: left;
}

#main-course-div-2 {
    margin-bottom: 30px;
}

#desserts-div-2 {
    margin-bottom: 30px;
}

    
